<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur l'application de gestion des feuilles de temps</h1>
        <div class="list-group">
            <a href="/add_employee" class="list-group-item list-group-item-action">Créer un employé</a>
            <a href="/fdt" class="list-group-item list-group-item-action">Feuille de temps</a>
        </div>
    </div>
</body>
</html>
